@page
@model Security.Pages.HRManager
@{
    ViewData["Title"] = "HRManager";
}

<h1>@ViewData["Title"]</h1>

<div>
    Hr Manager ...
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Date</td>
                <td>Temp</td>
                <td>Temp</td>
                <td>Summary</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.WeatherForecastItems)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
            }    
        </tbody>
    </table>
</div>